absl-py==2.1.0
aiofiles==23.1.0
aiohttp==3.9.3
aiosignal==1.3.1
alembic==1.11.1
altair==5.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.8
anyascii==0.3.2
anyio==3.6.2
appdirs==1.4.4
argilla==1.8.0
asgiref==3.7.2
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.2
asyncio==3.4.3
attrs==22.2.0
audioread==3.0.1
autopep8==2.0.1
Babel==2.14.0
backcall==0.2.0
backoff==2.2.1
bangla==0.0.2
bcrypt==4.1.2
beautifulsoup4==4.11.1
bidict==0.22.1
bleach==6.0.0
blinker==1.6.2
blis==0.7.9
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.7
bokeh==3.1.1
breadability==0.1.20
Brotli==1.1.0
cachetools==5.3.1
catalogue==2.0.8
certifi==2024.2.2
cffi==1.15.1
chardet==5.1.0
charset-normalizer==2.1.1
chromadb==0.3.25
ci-info==0.3.0
click==8.1.7
clickhouse-connect==0.5.25
colorama==0.4.6
coloredlogs==15.0.1
comm==0.1.3
commonmark==0.9.1
comtypes==1.4.5
confection==0.1.0
configobj==5.0.8
configparser==6.0.0
contourpy==1.0.7
coqpit==0.0.17
crewai==0.22.5
cryptography==41.0.1
curl_cffi==0.6.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.35
dataclasses-json==0.5.7
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
distro==1.9.0
dj-database-url==2.1.0
Django==5.0.1
dnspython==2.3.0
docopt==0.6.2
docstring-parser==0.15
docutils==0.20.1
duckdb==0.8.0
duckduckgo_search==5.2.1
einops==0.8.0
email-validator==2.1.0.post1
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
et-xmlfile==1.1.0
etelemetry==0.3.1
exceptiongroup==1.1.1
executing==1.2.0
faiss-cpu==1.7.4
fastapi==0.95.2
ffmpy==0.3.0
filelock==3.12.0
fitz==0.0.1.dev2
Flask==3.0.1
Flask-Admin==1.6.1
flask-babel==4.0.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-Login==0.6.3
Flask-Migrate==4.0.4
Flask-SocketIO==5.3.6
Flask-SQLAlchemy==3.0.5
Flask-Uploads==0.2.1
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.39.4
frozenlist==1.3.3
fsspec==2024.6.1
future==0.18.3
gensim==4.3.1
gitdb==4.0.10
GitPython==3.1.31
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.115.0
google-auth==2.26.1
google-auth-httplib2==0.2.0
google-cloud-texttospeech==2.16.3
google-generativeai==0.3.2
googleapis-common-protos==1.62.0
gpt-index==0.6.18
gradio==3.33.1
gradio_client==0.2.5
greenlet==2.0.1
groq==0.9.0
grpcio==1.60.0
grpcio-status==1.60.0
gruut-ipa==0.13.0
gruut_lang_de==2.0.1
gruut_lang_en==2.0.1
gruut_lang_es==2.0.1
gruut_lang_fr==2.0.2
gTTS==2.5.1
gunicorn==21.2.0
h11==0.14.0
hangul-romanize==0.1.0
hnswlib==0.8.0
httpcore==0.16.3
httplib2==0.22.0
httptools==0.5.0
httpx==0.23.3
huggingface-hub==0.15.1
humanfriendly==10.0
idna==3.4
img2pdf==0.5.1
importlib-metadata==6.11.0
iniconfig==1.1.1
instructor==0.5.2
intel-openmp==2021.4.0
ipykernel==6.23.2
ipython==8.14.0
isodate==0.6.1
itsdangerous==2.1.2
jamo==0.4.1
jedi==0.18.2
jieba==0.42.1
Jinja2==3.1.2
joblib==1.2.0
JPype1==1.4.1
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.17.3
jupyter_client==8.2.0
jupyter_core==5.3.1
Kivy==2.2.0
kivy-deps.angle==0.3.3
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.6.0
Kivy-Garden==0.1.5
kiwisolver==1.4.4
langchain==0.1.13
langchain-community==0.0.29
langchain-core==0.1.33
langchain-google-genai==0.0.9
langchain-openai==0.0.5
langchain-text-splitters==0.0.1
langchainplus-sdk==0.0.19
langcodes==3.3.0
langsmith==0.1.23
lazy_loader==0.4
linkify-it-py==2.0.2
llama-index==0.6.26
llvmlite==0.43.0
loguru==0.7.0
looseversion==1.3.0
lxml==4.9.2
lz4==4.3.2
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==2.2.0
MarkupSafe==2.1.2
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.7.1
matplotlib-inline==0.1.6
mdit-py-plugins==0.3.3
mdurl==0.1.2
mkl==2021.4.0
monotonic==1.6
more-itertools==10.3.0
mpmath==1.3.0
msg-parser==1.2.0
msgpack==1.0.8
multidict==6.0.4
murmurhash==1.0.9
myModule==1.0.0
mypy-extensions==1.0.0
nest-asyncio==1.5.6
networkx==2.8.8
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
num2words==0.5.13
numexpr==2.8.4
numpy==1.24.3
olefile==0.46
onnxruntime==1.15.0
openai==1.14.3
openapi-schema-pydantic==1.2.4
openpyxl==3.0.10
opentelemetry-api==1.23.0
opentelemetry-exporter-otlp-proto-common==1.23.0
opentelemetry-exporter-otlp-proto-http==1.23.0
opentelemetry-proto==1.23.0
opentelemetry-sdk==1.23.0
opentelemetry-semantic-conventions==0.44b0
orjson==3.9.15
outcome==1.2.0
overrides==7.3.1
packaging==23.2
pandas==1.5.2
panel==1.1.0
param==1.13.0
parso==0.8.3
pathlib==1.0.1
pathy==0.10.2
pdf2image==1.16.3
pdfminer==20191125
pdfminer.six==20221105
pdfplumber==0.9.0
pickleshare==0.7.5
pikepdf==8.8.0
Pillow==10.1.0
pinecone-client==2.2.1
platformdirs==3.6.0
playwright==1.15.2
pluggy==1.0.0
posthog==3.0.1
preshed==3.0.8
prompt-toolkit==3.0.38
proto-plus==1.23.0
protobuf==4.23.2
prov==2.0.0
psutil==5.9.5
pure-eval==0.2.2
pyarrow==12.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
PyAudio==0.2.14
pybind11==2.10.4
pycodestyle==2.10.0
pycountry==22.3.5
pycparser==2.21
pycryptodome==3.19.0
pydantic==1.10.17
pydantic_core==2.16.3
pydeck==0.8.1b0
pydot==1.4.2
pydub==0.25.1
pyee==8.2.2
Pygments==2.15.1
Pympler==1.0.1
PyMuPDF==1.23.7
PyMuPDFb==1.23.7
pypandoc==1.11
pyparsing==3.0.9
pypdf==3.9.1
PyPDF2==3.0.1
pypinyin==0.51.0
pypiwin32==223
pyppeteer==1.0.2
PyQt5==5.15.8
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.1
pyreadline3==3.4.1
pyrsistent==0.19.3
pysbd==0.3.4
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.2.0
pytest-base-url==2.0.0
pytest-playwright==0.3.0
python-crfsuite==0.9.10
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==1.0.0
python-engineio==4.8.2
python-magic==0.4.27
python-multipart==0.0.6
python-pptx==0.6.21
python-slugify==7.0.0
python-socketio==5.11.0
pytz==2022.7
pytz-deprecation-shim==0.1.0.post0
pyviz-comms==2.3.1
pywin32==306
pyxnat==1.6
PyYAML==6.0
pyzmq==25.1.0
rdflib==7.0.0
regex==2023.12.25
reportlab==4.0.8
requests==2.28.1
rfc3986==1.5.0
rich==13.7.1
rsa==4.9
safetensors==0.4.3
scikit-learn==1.3.0
scipy==1.14.0
selenium==4.8.2
semantic-version==2.10.0
sentencepiece==0.1.99
simple-websocket==1.0.0
simplejson==3.19.2
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
soxr==0.3.7
spacy==3.4.4
spacy-alignments==0.9.0
spacy-download==1.1.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.1.9
SpeechRecognition==2.1.3
SQLAlchemy==2.0.15
sqlparse==0.4.4
srsly==2.4.7
stack-data==0.6.2
starlette==0.27.0
streamlit==1.23.1
streamlit-chat==0.0.2.2
SudachiDict-core==20240409
SudachiPy==0.6.8
sumy==0.11.0
sympy==1.12
tabulate==0.9.0
tbb==2021.13.0
tenacity==8.2.3
tensorboard-data-server==0.7.2
text-unidecode==1.3
thinc==8.1.10
threadpoolctl==3.1.0
tika==2.6.0
tiktoken==0.5.2
tokenizers==0.13.3
toml==0.10.2
toolz==0.12.0
torch==2.3.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
tr-core-news-trf @ https://huggingface.co/turkish-nlp-suite/tr_core_news_trf/resolve/main/tr_core_news_trf-any-py3-none-any.whl#sha256=336e96402cb9f64a786444a916ce591fc21e1456894ee391312780fd5b29a011
traitlets==5.9.0
traits==6.3.2
transformers==4.25.1
trio==0.22.0
trio-websocket==0.10.0
typeguard==4.3.0
typer==0.7.0
typing-inspect==0.8.0
typing_extensions==4.10.0
tzdata==2023.3
tzlocal==4.3
uc-micro-py==1.0.2
Unidecode==1.3.8
unstructured==0.7.1
uritemplate==4.1.1
urllib3==1.26.13
utils==1.0.1
uvicorn==0.22.0
validators==0.20.0
Wand==0.6.11
wasabi==0.10.1
watchdog==3.0.0
watchfiles==0.19.0
wcwidth==0.2.6
webencodings==0.5.1
websockets==10.4
Werkzeug==3.0.1
whitenoise==6.6.0
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
WTForms==3.1.2
xlrd==2.0.1
XlsxWriter==3.1.2
xyzservices==2023.5.0
yarl==1.9.2
youtube-search-python==1.6.6
youtube-transcript-api==0.6.2
zemberek-python==0.2.3
zipp==3.11.0
zstandard==0.21.0

